@import "./dim";

.spotRow{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    
    @extend .w-full;
    @extend .h-full;
}